
<center> 
  <div class='container'>
<% @placements.each do |placement| %> 

  
        <td><%= placement[0]  %> </td>
        (<td><%= placement[2].strftime("%m/%d/%Y") %> </td>-
        <td><%= placement[3].strftime("%m/%d/%Y") %> </td>): 
        <td><%= number_with_delimiter(placement[4], :delimiter => ',')  %> </td> impresssions @ 
        $<td><%= placement[1]  %> </td> =
        $<td><%= number_with_delimiter((placement[4]/1000.0 * placement[1]).round, :delimiter => ',' )%> </td><br />



<%end%>

</div>
</center>